<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="row">
    <div
      class="login col-md-6 d-flex flex-column justify-content-center align-items-center"
    >
      <img
        style="width: 250px; height: 250px"
        src="../../assets/images/logo.png"
      />
      <div class="mt-4">
        <h5 style="font-weight: bold">Êtes-vous déjà membre ?</h5>
      </div>
      <div class="alert alert-danger" role="alert"></div>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="mail mt-3">
          <p style="font-family: lato">
            Email <span style="color: red"> * </span>
          </p>
          <input
            type="text"
            name="mail"
            placeholder="Email"
            aria-p="Email"
            style="font-family: lato"
            required
            [(ngModel)]="mail"
          />
        </div>
        <div class="mdp mt-3">
          <p style="font-family: lato">
            Mot de passe <span style="color: red"> * </span>
          </p>
          <input
            type="password"
            name="mdp"
            placeholder="Mot de passe"
            aria-p="Mot de passe"
            style="font-family: lato"
            required
            [(ngModel)]="mdp"
          />
        </div>
        <input type="submit" class="connecter" value="Se connecter" />
      </form>
      <a
        routerLink="#"
        style="margin-top: 10px; color: black; font-family: lato"
        >Mot de passe oublié?</a
      >

      <div style="width: 50%; margin: 20px auto; text-align: center">
        <hr
          style="
            border: none;
            border-top: 2px solid black;
            width: 40%;
            display: inline-block;
            margin-right: 10px;
          "
        />
        <span>ou</span>
        <hr
          style="
            border: none;
            border-top: 2px solid black;
            width: 40%;
            display: inline-block;
            margin-left: 10px;
          "
        />
      </div>
      <a routerLink="/signup" class="inscription" style="font-family: lato"
        >Créer un compte</a
      >
    </div>

    <div class="col-md-6">
      <img src="../../assets/images/peine.png" />
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <p>
        Copyright: RAHAJASON Aroniaina Saotra & RAZAKAMBOLOLONA Mirantsoa
        Rufinah
      </p>
    </div>
  </div>
</body>
