<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
</head>

<body>
  <div class="header">
    <nav class="navbar">
      <a routerLink="/"
        ><img
          class="logo"
          src="../../assets/images/logo.png"
          style="width: 250px; height: 250px"
      /></a>
      <ul class="nav-list">
        <li><a routerLink="/historique">Historiques | </a></li>
        <li><a routerLink="/prestation">Prestations | </a></li>
        <li><a routerLink="/notification">Notifications | </a></li>
        <li><a routerLink="/logout">Déconnexion |</a></li>
        <li>
          <a routerLink="/cart"
            ><span class="material-symbols-outlined">local_mall</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</body>
