/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300px;
    font-size: large;
    overflow-x: hidden;
  }
    
h2{
  font-family: 'Josefin Sans', sans-serif;
    font-weight: 300px;
   
}