<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<body>
    <div class="header">

    <nav class="navbar">
        <a routerLink="/home"><img class="logo" src="../../assets/images/logo.png" style="width: 250px; height: 250px;"></a>
        <ul class="nav-list">
          
          <li><a routerLink="/reserve">Réserver  |  </a></li>
          <li><a routerLink="/talents">Nos Talents  |  </a></li>
          <li><a routerLink="/prestation">Nos Prestations  |  </a></li>
          <li><a routerLink="/contact">Contact  |</a></li>
          <li><a routerLink="/login">Se connecter</a></li>
         <li><a routerLink="/panier"><span class="material-symbols-outlined">local_mall</span></a></li> 
        </ul>  
      </nav>
    </div>
    <div class="propos">
        <div class="row">
            <div class="col">
                <div class="image-wrapper">
                <img src="../../assets/images/google.png" >
                <h4 class="image-caption">4,9/5 sur Google</h4>
                <p class="image-description">Basée sur plus de 500 avis,<br>
                     nos clients attestent de notre<br>
                      engagement envers la qualité et le service.</p>
                </div>
            </div>
            <div class="col">
                <div class="image-wrapper">
                <img src="../../assets/images/treatwell.jpg" >
                <h4 class="image-caption">4,8 sur Treatwell</h4>
                <p class="image-description">Notre dévouement est salué par<br> plus de 1500 avis sur Treatwell,<br> une plateforme réputée pour sa rigueur<br> et son exigence</p>
                </div>
            </div>
            <div class="col">
                <div class="image-wrapper">
                <img src="../../assets/images/2.png">
                <h4 class="image-caption">Votre espace beauté de Tana</h4>
                <p class="image-description">Au cœur de Tana, expertise, soucis<br> du détail et professionnalisme pour<br> une expérience esthétique unique.<br> Rendez-vous dans l'excellence</p>
                </div>
            </div>
            <div class="col">
                <div class="image-wrapper">
                <img src="../../assets/images/cils.webp" >
                <h4 class="image-caption">Experts du Rehaussement de cils</h4>
                <p class="image-description">Artisans de la beauté des cils. Avec une technique raffinée et des produits de la plus haute qualité, nous sublimons votre regard</p>
                </div>
            </div>
        </div>
    </div>
    <div class="reservation">
        <div class="row no-gutters">
            <div class="col-md-6 no-margin" style="background-color: #F5B7B1;">
                <h1 class="image-caption">Réservez votre instant beauté</h1>
                <p class="image-description">Réservez en quelques clics votre moment de bien-être.</p>
                <a routerLink="/reserve">💅Réservation en ligne</a>
            </div>
            <div class="col-md-6 no-margin">
                <img src="../../assets/images/reservation.webp" style="width: 100%; height: 100%;object-fit: cover;">
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="row">  
            <div class="col-md-3 souscontact" onmouseover="this.style.backgroundColor='#F5B7B1'" onmouseout="this.style.backgroundColor='transparent'">
                <img class="icone" src="../../assets/images/temps.png">
                <h4 style="font-weight: bold;">Horaire</h4>
                <p>Du Lundi au Samedi <br>de 10h à 19h</p>
            </div>
            <div class="col-md-3 souscontact" onmouseover="this.style.backgroundColor='#F5B7B1'" onmouseout="this.style.backgroundColor='transparent'">
                <img class="icone" src="../../assets/images/epingle.png">
                <h4 style="font-weight: bold;">Adresse</h4>
                <p>Andoharanofotsy <br>
                    Lot IV 1234</p>
            </div>
            <div class="col-md-3 souscontact" onmouseover="this.style.backgroundColor='#F5B7B1'" onmouseout="this.style.backgroundColor='transparent'">
                <img class="icone" src="../../assets/images/enveloppe.png">
                <h4 style="font-weight: bold;">Mail</h4>
                <p>Notre mail: <br>
                sawandmegmail.com</p>
            </div>
            <div class="col-md-3 souscontact" onmouseover="this.style.backgroundColor='#F5B7B1'" onmouseout="this.style.backgroundColor='transparent'">
                <img class="icone" src="../../assets/images/telephone.png">
                <h4 style="font-weight: bold;">Notre téléphone</h4>
                <p>Notre téléphone: <br>
                +261 34 34 344 34</p>
            </div>
       
        </div>
  </div>
    <div class="talents" style="padding-top:20px ;">
        <h1 style="font-weight: bold;">Nos talents</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
                <div class="row">
                    <img class="person" src="../../assets/images/a.webp">
                    <img class="person" src="../../assets/images/b.webp">
                    <img class="person" src="../../assets/images/c.webp">
                    <img class="person" src="../../assets/images/d.webp">
                </div>
                <div class="row">
                    <img class="person" src="../../assets/images/e.webp">
                    <img class="person" src="../../assets/images/f.webp">
                    <img class="person" src="../../assets/images/g.webp">
                    <img class="person" src="../../assets/images/h.webp">
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="prestations" style="padding-top:40px ;padding-bottom: 50px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8">
                        <h1 style="font-weight: bold;">Nos prestations & tarifs</h1>
                        <p>
                            Consultez nos tarifs détaillés et choisissez la prestation qui vous<br>
                             convient pour un moment de beauté et de détente inégalé<br>
                             <br>
                            Découvrez l'Institut de Beauté à Paris pour des séances d'épilation,<br>
                             de massage, de manucure et de rehaussement de cils exceptionnelles
                        </p>
                        <a routerLink="/prestation" class="tarif" >💅Voir prestations & tarifs</a>
                    </div>
                    <div class="col-md-4">
                        <img src="../../assets/images/prestation.webp">
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <p>Copyright: RAHAJASON Aroniaina Saotra & RAZAKAMBOLOLONA Mirantsoa Rufinah</p>
        </div>
    </div>
    
</body>

  
